@keyframes container {
  0% {
    transform: translateY(-20px);
    opacity: 0.8;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: #F7FAFD;
}
@media (max-width: 730px) {
  body {
    background-color: #FFFFFF;
  }
}

.notifications {
  padding: 63px 0 89px;
}
.notifications__container {
  max-width: 730px;
  margin: 0 auto;
  padding: 33px 30px 0;
  background-color: #FFFFFF;
  border-radius: 15px;
  box-shadow: 0px 20px 60px 0px rgba(73, 97, 168, 0.05);
  animation: container .7s ease-out;
}
.notifications__header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.notifications__header-title {
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  color: #1C202B;
  padding-top: 1px;
  padding-left: 3px;
  margin-right: 11px;
}
.notifications__header-counter {
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  padding: 2px 11px 3px;
  border-radius: 6px;
  background-color: #0A327B;
  margin-right: auto;
  transition: opacity 0.15s ease-out;
}
.notifications__header-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #5E6778;
  transition: color .1s;
  transition: opacity 0.15s ease-out;
}
.notifications__header-button:hover {
  color: #0A327B;
}
.notifications__list {
  display: flex;
  flex-direction: column;
  gap: 8px 0;
}
@media (max-width: 730px) {
  .notifications__container {
    box-shadow: none;
    animation: none;
  }
}
@media (max-width: 576px) {
  .notifications {
    padding: 0;
  }
  .notifications__container {
    padding: 24px 16px 29px;
  }
  .notifications__header {
    align-items: flex-start;
    margin-bottom: 24px;
  }
  .notifications__header-title {
    font-weight: 800;
    font-size: 20px;
    line-height: 25px;
    padding: 0;
    margin-right: 10px;
  }
  .notifications__header-button {
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    padding-top: 6px;
  }
  .notifications__list {
    gap: 10px 0;
  }
}

.notification {
  display: flex;
  padding: 17px 20px;
  border-radius: 8px;
  background-color: transparent;
  transition: background-color 1.1s ease-out;
}
.notification__avatar {
  flex-shrink: 0;
  display: inline-block;
  width: 45px;
  padding-top: 1px;
  margin-right: 19px;
}
.notification__content-info {
  margin-bottom: 2px;
}
.notification__content-info * {
  margin-right: 4px;
}
.notification__content-info-name {
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  color: #1C202B;
  transition: color .1s;
}
.notification__content-info-name:hover {
  color: #0A327B;
}
.notification__content-info-action {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #5E6778;
}
.notification__content-info-indicator {
  display: none;
  width: 8px;
  height: 8px;
  margin-bottom: 1px;
  background-color: #F65552;
  border-radius: 50%;
}
.notification__content-time {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #939CAD;
}
.notification--unread {
  background-color: #F7FAFD;
}
.notification--unread .notification__content-info-indicator {
  display: inline-block;
}
.notification--reacted .notification__content-info-reference {
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  color: #5E6778;
  transition: color .1s;
}
.notification--reacted .notification__content-info-reference:hover {
  color: #0A327B;
}
.notification--group .notification__content-info-reference {
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  color: #0A327B;
}
.notification--sent {
  padding-bottom: 20px;
}
.notification--sent .notification__content-message {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #5E6778;
  padding: 19px;
  padding-top: 16px;
  border: 1px solid #DDE7EE;
  border-radius: 5px;
  margin-top: 12px;
  transition: background-color .2s;
}
.notification--sent .notification__content-message:hover {
  background-color: #E5EFFA;
}
.notification--commented .notification__media {
  flex-shrink: 0;
  width: 57px;
  padding-top: 1px;
  padding-left: 12px;
  margin-left: auto;
}
@media (max-width: 576px) {
  .notification {
    padding: 16px 12px 17px 16px;
  }
  .notification__avatar {
    width: 39px;
    padding: 0;
    margin-right: 13px;
  }
  .notification__content-info {
    margin-bottom: 5px;
  }
  .notification__content-info-name {
    font-weight: 800;
    font-size: 14px;
    line-height: 14px;
  }
  .notification__content-info-action {
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
  }
  .notification__content-time {
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
  }
  .notification--reacted .notification__content-info-reference {
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
  }
  .notification--group .notification__content-info-reference {
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
  }
  .notification--sent {
    padding-bottom: 16px;
  }
  .notification--sent .notification__content-message {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    padding: 15px;
    border: 1px solid #DDE7EE;
    margin-top: 14px;
  }
  .notification--commented .notification__media {
    padding-top: 0;
    width: 51px;
  }
}
